@page "/jobcandidate"
@using Blazorise
@using Blazorise.DataGrid
@using Display1.Models
@using Display1.Service
@using System.Xml.Linq
@inject JobCandidateService jobCandidateService
@inject NavigationManager navigationManager

<PageTitle>Job Candidates</PageTitle>
@if (jobcandidate == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DataGrid TItem="Display1.Models.JobCandidate" Data="@jobcandidate" Sortable="true" Editable="true" ShowPager="true">
        <NewCommandTemplate>
            <Button Color="Color.Success" Clicked="@(async () => await NewClicked(null))">New</Button>
        </NewCommandTemplate>
        <EditCommandTemplate>
            <Button Color="Color.Primary" Clicked="@(e => EditClicked(e))">Edit</Button>
        </EditCommandTemplate>


        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.JobCandidateId)" Caption="Job Candidate ID"></DataGridColumn>

        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="" Caption="First Name">
            <DisplayTemplate>
                @{
                    var xml = XDocument.Parse(context.Resume);
                    var firstName = xml.Root?.Element("{http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/Resume}Name")?.Element("{http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/Resume}Name.First")?.Value;
                    if (!string.IsNullOrEmpty(firstName))
                    {
                        <span>@firstName</span>
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>

        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="" Caption="Last Name">
            <DisplayTemplate>
                @{
                    var xml = XDocument.Parse(context.Resume);
                    var lastName = xml.Root?.Element("{http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/Resume}Name")?.Element("{http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/Resume}Name.Last")?.Value;
                    if (!string.IsNullOrEmpty(lastName))
                    {
                        <span>@lastName</span>
                    }
                }
            </DisplayTemplate>
        </DataGridColumn>

        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.BusinessEntityId)" Caption="Business Entity ID"></DataGridColumn>

        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.Resume)" Caption="Resume">
            <DisplayTemplate>
                @if (!string.IsNullOrEmpty(context.Resume))
                {
                    <a href="javascript:void(0);" @onclick="() => ShowResume(context.JobCandidateId, context.Resume)">View Resume</a>
                }
            </DisplayTemplate>
        </DataGridColumn>

        <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.ModifiedDate)" Caption="Modified Date"></DataGridColumn>
    </DataGrid>
}

@code {
    private IEnumerable<Display1.Models.JobCandidate> jobcandidate = new List<Display1.Models.JobCandidate>();

    protected override async Task OnInitializedAsync()
    {
        await LoadJobCandidates();
    }

    private async Task LoadJobCandidates()
    {
        jobcandidate = await jobCandidateService.GetJobCandidatesAsync();
    }

    private async Task NewClicked(JobCandidate context)
    {
        navigationManager.NavigateTo("/jobcandidate/new");

    }

    private void EditClicked(MouseEventArgs e)
    {
        // Method logic goes here
    }

    private void ShowResume(int jobCandidateId, string resumeXml)
    {
        var encodedResumeXml = Uri.EscapeDataString(resumeXml);
        navigationManager.NavigateTo($"/resume/{jobCandidateId}?xml={encodedResumeXml}");
    }

}
