@page "/jobcandidate"
@using Blazorise
@using Blazorise.DataGrid
@using Display1.Models
@using Display1.Service
@inject JobCandidateService jobCandidateService

<PageTitle>Job Candidates</PageTitle>

<DataGrid TItem="Display1.Models.JobCandidate" Data="@jobcandidate">
    <DataGridCommandColumn TItem="Display1.Models.JobCandidate">
        <NewCommandTemplate>
            <Button Color="Color.Success" Clicked="@context.Clicked">New</Button>
        </NewCommandTemplate>
        <EditCommandTemplate>
            <Button Color="Color.Primary" Clicked="@context.Clicked">Edit</Button>
        </EditCommandTemplate>
    </DataGridCommandColumn>
    <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.JobCandidateId)" Caption="Job Candidate ID"></DataGridColumn>
    <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.BusinessEntityId)" Caption="Business Entity ID"></DataGridColumn>
    <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.Resume)" Caption="Resume"></DataGridColumn>
    <DataGridColumn TItem="Display1.Models.JobCandidate" Field="@nameof(Display1.Models.JobCandidate.ModifiedDate)" Caption="Modified Date"></DataGridColumn>
</DataGrid>

@code {
    private IEnumerable<Display1.Models.JobCandidate> jobcandidate;

    protected override async Task OnInitializedAsync()
    {
        jobcandidate = await jobCandidateService.GetJobCandidateAsync();
    }
}
