@page "/shift"
@using Display1.Service
@using Display1.Models
@using Microsoft.EntityFrameworkCore

<div class="row">
    <div class="col-md-12">
        <div class="scroll-pane" style="height:800px; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Shift ID:</th>
                        <th>Start Time:</th>
                        <th>End Time:</th>
                        <th>Modified Date:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through departments and display the details -->
                    @foreach (var shift in shift.Take(10))
                    {
                        <tr>
                            <td>@shift.ShiftId</td>
                            <td>@shift.Name</td>
                            <td>@shift.StartTime</td>
                            <td>@shift.EndTime</td>
                            <td>@shift.ModifiedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    private List<Display1.Models.Shift> shift;

    protected override void OnInitialized()
    {
        AdventureWorks2019Context db = new AdventureWorks2019Context();
        shift = db.Shift.ToList();
    }

}