@page "/shift"
@using Display1.Service
@using Display1.Models
@using Microsoft.EntityFrameworkCore
@inject SearchService SearchService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using Display1.Pages.HRPages

<div class="row">
    <div class="col-md-12">
        <div class="scroll-pane" style="height:100px; overflow: auto;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Shift ID:</th>
                        <th>Name:</th>
                        <th>Start Time:</th>
                        <th>End Time:</th>
                        <th>Modified Date:</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Loop through shifts and display the details -->
                    @foreach (var shift in SearchService.Shifts.Take(5))
                    {
                        <tr>
                            <td>@shift.ShiftId</td>
                            <td>@shift.Name</td>
                            <td>@shift.StartTime.ToString()</td>
                            <td>@shift.EndTime.ToString()</td>
                            <td>@shift.ModifiedDate</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {


    protected override async Task OnInitializedAsync()
    {
        if (SearchService.SelectedPerson == null)
        {
            NavigationManager.NavigateTo("/personaldetails");
        }
        else
        {
            SearchService.Shifts = SearchService.GetShiftsForBusinessEntity(SearchService.SelectedPerson.BusinessEntityId);
        }
    }
}